body {
    background-color: rgb(172, 172, 172);
}

#head {
    background-image: url('logobackground.jpg');
    width: auto;
    height: 400px;
    margin: 0;
    padding: 0;
}

.form-inline {
    display: block;
}

h1 {
    text-align: center;
    padding-top: 10%;
    font-size: 72px;
    font-family: 'Bungee Shade', cursive;
}

.navbar {
    color: white;
}

#result {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 5px;
}

#result-body {
    background-color: aliceblue;
}

#map {
    height: 400px;
    width: auto;
  }
  